body {
  background-color: #1b2838;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.game {
  background: #2a475e;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

button {
  background: #66c0f4;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background: #417a9b;
}
