body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 10px auto;
  width: 250px;
  border-radius: 10px;
}
