body {
  background: #121212;
  color: white;
  font-family: Arial;
  text-align: center;
}

.login-box {
  margin: 20px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: #00bfff;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.game {
  border: 1px solid #444;
  margin: 20px auto;
  padding: 20px;
  width: 200px;
}
